@import "tailwindcss";

@theme inline {
  --color-blue: #0a6fff;
  --color-sky-blue: #cee2ff;
  --color-gray: #4c4c4c;
  --font-jetbrains: var(--font-jetbrains-mono);
  --font-inter: var(--font-inter);
}
@utility container {
  @apply mx-auto max-w-none 2xl:max-w-360 px-4 md:px-10! lg:px-8;
}
@layer base {
  body {
    @apply font-inter;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-jetbrains font-bold leading-[110%] tracking-[-1%];
  }
  button {
    @apply cursor-pointer;
  }
}
@layer components {
  .heading-1 {
    @apply text-[40px] md:text-[58px] lg:text-[64px] xl:text-[84px];
  }
  .heading-2 {
    @apply text-[32px] sm:text-4xl md:text-5xl lg:text-6xl;
  }
  .heading-3 {
    @apply text-[32px] sm:text-4xl md:text-[48px];
  }
  .heading-4 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-[40px] leading-[130%];
  }
  .heading-5 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-[32px] leading-[130%];
  }
  .heading-6 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-[26px];
  }
  .body-text {
    @apply text-base md:text-lg lg:text-xl;
  }
}
@custom-variant hover (&:hover);
